{% extends 'base.html.twig' %}

{% block body %}
    <h1>Courseoption</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ courseOption.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ courseOption.title }}</td>
            </tr>
            <tr>
                <th>Required</th>
                <td>{% if courseOption.required %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ courseOption.position }}</td>
            </tr>
            <tr>
                <th>Assets</th>
                <td>
                    <ul>
                {% for asset in courseOption.assets %}
                    <li>Bài  {{ loop.index }}. {{ asset.title }} - 01:30</li>
                {% endfor %}

                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_courseoption_index') }}">{{ 'Back to the list'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('admin_courseoption_edit', { 'id': courseOption.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'Delete'|trans }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
