{% extends 'backend/base.html.twig' %}

{% block body %}
    <h1>Assets list</h1>

    <table>
        <thead>
            <tr>
                <th style="display: none;">Id</th>
                <th style="display: none;">Uuid</th>
                <th>State</th>
                <th>Name</th>
                <th>Title</th>
                <th>Options</th>
                <th>Formatoption</th>
                <th>Uri</th>
                <th>Storageaccountname</th>
                <th style="display: none;">Alternateid</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for asset in assets %}
            <tr>
                <td style="display: none;"><a href="{{ path('admin_asset_show', { 'id': asset.id }) }}">{{ asset.id }}</a></td>
                <td style="display: none;">{{ asset.uuid }}</td>
                <td>{{ asset.state }}</td>
                <td>{{ asset.name }}</td>
                <td>{{ asset.title }}</td>
                <td>{{ asset.options }}</td>
                <td>{{ asset.formatOption }}</td>
                <td>{{ asset.uri }}</td>
                <td>{{ asset.storageAccountName }}</td>
                <td style="display: none;">{{ asset.alternateId }}</td>
                <td>{% if asset.created %}{{ asset.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if asset.modified %}{{ asset.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_asset_show', { 'id': asset.id }) }}">Show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_asset_edit', { 'id': asset.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li class="actions-toolbar">
            <a class="button button-primary" href="{{ path('admin_asset_new') }}">Create a new asset</a>
        </li>
    </ul>
{% endblock %}
