{% extends 'backend/base.html.twig' %}

{% block body %}
    <h1>Assets list</h1>

    <table>
        <thead>
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <th>Video</th>
                <th>PDF</th>
                <th>{{ knp_pagination_sortable(assets, 'Created', 'c.created') }}</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for asset in assets %}
            <tr>
                <td>{{ asset.title }}</td>
                <td>{{ asset.uri }}</td>
                <td>{{ asset.document }}</td>
                <td>{% if asset.created %}{{ asset.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if asset.modified %}{{ asset.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_asset_show', { 'id': asset.id }) }}">{{ 'Show'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_asset_edit', { 'id': asset.id }) }}">{{ 'Edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(assets) }}
    </div>

    <ul>
        <li class="actions-toolbar">
            <a class="button button-primary" href="{{ path('admin_asset_new') }}">Create a new asset</a>
        </li>
    </ul>
{% endblock %}
