{% extends 'backend/base.html.twig' %}

{% block body %}
    <h1>{{ 'Asset list'|trans }}</h1>

    {{ form_start(bulkForm) }}
    <input class="button button-primary" type="submit" value="{{ 'Delete selected items'|trans }}">
    <table id="asset-form">
        <thead>
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <th>Video</th>
                <th>PDF</th>
                <th>Scorm</th>
                <th>{{ knp_pagination_sortable(assets, 'Created'|trans, 'c.created') }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for asset in assets %}
            <tr>
                <td class="first">
                    <input type="checkbox" name="idx[]" value="{{ asset.id }}" />
                    {% if null !=  asset.survey  %}({{ 'Survey'|trans }}) {% endif %}{{ asset.title }}
                </td>
                <td>{{ asset.uri }}</td>
                <td>{{ asset.document }}</td>
                <td>{{ asset.scormPath }}</td>
                <td>{% if asset.created %}{{ asset.created|date('Y-m-d') }}{% endif %}</td>
                <td class="last">
                    <ul class="actions">
                        {% if null ==  asset.survey  %}
                        <li class="show-action">
                            <a href="{{ path('admin_asset_show', { 'id': asset.id }) }}">{{ 'Show'|trans }}</a>
                        </li>
                        <li class="edit-action">
                            <a href="{{ path('admin_asset_edit', { 'id': asset.id }) }}">{{ 'Edit'|trans }}</a>
                        </li>
                        {% else %}
                        <li class="edit-action">
                            <a href="{{ path('admin_survey_edit', { 'id': asset.survey.id }) }}">{{ 'Edit'|trans }}</a>
                        </li>
                        {% endif %}
                        <li class="delete-action">
                            {% for idx, deleteAssetForm in deleteAssetForms %}
                                {% if idx ==  asset.id  %}
                                    {{ form_start(deleteAssetForm) }}
                                    <input class="button button-primary" type="submit" value="{{ 'Delete'|trans }}">
                                    {{ form_end(deleteAssetForm) }}
                                {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(bulkForm) }}

    <div class="navigation text-center">
        {{ knp_pagination_render(assets) }}
    </div>

    <ul>
        <li class="actions-toolbar">
            <a class="button button-primary" href="{{ path('admin_asset_new') }}">{{ 'Create a new asset'|trans }}</a>
            <a class="button button-primary" href="{{ path('admin_survey_new') }}">{{ 'Create a new survey'|trans }}</a>
        </li>
    </ul>
{% endblock %}
