{% extends 'base.html.twig' %}

{% block body %}
    <h1>Asset</h1>

    <script src="{{ absolute_url(asset('wp-includes/js/azure/dash.all.js')) }}" type="text/javascript" ></script>
    <script>
        jQuery( document ).ready(function() {
            jQuery( window ).load(function() {
                setupVideo();
            });
        });
        // setup the video element and attach it to the Dash player
        function setupVideo() {
            var url = "http://ydimedia-aase.streaming.media.azure.net/42f25860-dc9c-401f-9cb8-0844bfd203e3/ydimedia.ism/manifest(format=mpd-time-csf)";
            var url = "http://ydimedia-aase.streaming.media.azure.net/12dfb987-3ea1-44a3-8216-f1837fd571ab/Wildlife.ism/manifest(format=mpd-time-csf)";
            var context = new Dash.di.DashContext();
            var player = new MediaPlayer(context);
            player.startup();
            player.attachView(document.querySelector("#videoplayer"));
            player.attachSource(url);
        }
    </script>
    <style>
        video {
            width: 80%;
            height: 80%;
        }
    </style>

    <video id="videoplayer" controls></video>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asset.id }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ asset.uuid }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ asset.state }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ asset.name }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ asset.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ asset.description }}</td>
            </tr>
            <tr>
                <th>Options</th>
                <td>{{ asset.options }}</td>
            </tr>
            <tr>
                <th>Formatoption</th>
                <td>{{ asset.formatOption }}</td>
            </tr>
            <tr>
                <th>Uri</th>
                <td>{{ asset.uri }}</td>
            </tr>
            <tr>
                <th>Storageaccountname</th>
                <td>{{ asset.storageAccountName }}</td>
            </tr>
            <tr>
                <th>Alternateid</th>
                <td>{{ asset.alternateId }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if asset.created %}{{ asset.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{% if asset.modified %}{{ asset.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li class="actions-toolbar">
            <a class="button button-primary" href="{{ path('admin_asset_index') }}">Back to the list</a>
            <a class="button button-primary" href="{{ path('admin_asset_edit', { 'id': asset.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
            <input class="button button-primary" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
