{% extends 'base.html.twig' %}

{% block body %}
        <h1>{{ 'Course list'|trans }}</h1>

        <table>
            <thead>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Image'|trans }}</th>
                    <th>{{ 'Short Description'|trans }}</th>
                    <th>{{ knp_pagination_sortable(courses, 'Created'|trans, 'c.created') }}</th>
                    <th>{{ 'Modified'|trans }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td class="name">{{ course.name }}</td>
                    <td>
                        {% if 0 %}
                            <img src="{{ asset('wp-content/uploads/courses/' ~ course.image.filename) }}" alt="{{ course.name }}" />
                        {% endif %}
                    </td>
                    <td>{{ course.shortDescription }}</td>
                    <td>{% if course.created %}{{ course.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if course.modified %}{{ course.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a class="action" href="{{ path('admin_course_show', { 'id': course.id }) }}">{{ 'Show'|trans }}</a>
                            </li>
                            <li>
                                <a class="action" href="{{ path('admin_course_edit', { 'id': course.id }) }}">{{ 'Edit'|trans }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(courses) }}
    </div>

        <ul>
            <li class="actions-toolbar">
                <a class="button button-primary button-large" href="{{ path('admin_course_new') }}">{{ 'Create a new course'|trans }}</a>
            </li>
        </ul>
{% endblock %}
