{% extends 'base.html.twig' %}

{% block body %}
    <h1>Course</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Sku</th>
                <td>{{ course.sku }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ course.price }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ course.status }}</td>
            </tr>
            <tr>
                <th>Typeid</th>
                <td>{{ course.typeId }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ course.image }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ course.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if course.created %}{{ course.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{% if course.modified %}{{ course.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li class="actions-toolbar">
            <a class="button button-primary" href="{{ path('course_index') }}">Back to the list</a>
            <a class="button button-primary" href="{{ path('course_edit', { 'id': course.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
            <input class="button button-primary" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
