{% extends 'base.html.twig' %}

{% block body %}
    <link href="{{ absolute_url(asset('wp-includes/js/azure/azuremediaplayer.min.css')) }}" rel="stylesheet">
    <script src="{{ absolute_url(asset('wp-includes/js/azure/azuremediaplayer.min.js')) }}"></script>
    <style>
        video {
            width: 80%;
            height: 80%;
        }
    </style>
    <script>
        jQuery(document).ready(function ($) {
            // Global variables
            var tabs = $('.lecture-player .lecture-container-header > li'),
                videoTab = $('.lecture-player .lecture-container-header > li:first-child'),
                documentTab = $('.lecture-player .lecture-container-header > li:nth-child(2)'),
                lectures = $('#lecture-tab-list .chap-item'),
                dataTab = $('.lecture-player .lecture-container-header a');
            // Initial function
            tabListener();
            assetListener();
            jQuery(window).load(function () {
                initPreview();
            });
            // First load - initial preview
            function initPreview() {
                var item = $('#lecture-tab-list .chap-item.current'),
                    hasDocument = item.find('a').attr('data-target'),
                    hasUri = item.find('a').attr('href');
                documentTab.addClass('disabled');
                if (typeof hasDocument !== 'undefined') {
                    $('#file-preview').attr('src', hasDocument);
                    documentTab.removeClass('disabled');
                    if (typeof hasUri == 'undefined') {
                        documentTab.removeClass('disabled');documentTab.find('a').click();
                        videoTab.removeClass('active');videoTab.addClass('disabled');
                    } else {
                        tabs.removeClass('disabled');
                    }
                }
            }
            // Toggle tabs - function
            function tabListener() {
                dataTab.on('click', function () {
                    var tabID = $(this).attr('data-toggle');
                    tabs.removeClass('active');
                    $('.lecture-player .tab-pane').hide();
                    $(this).parent().addClass('active');
                    if (tabID == 1) {$('#lecture-video').show();$('#azuremediaplayer').get(0).play();}
                    if (tabID == 2) {$('#lecture-file').show();if($('#azuremediaplayer').length) {$('#azuremediaplayer').get(0).pause();}}
                    if (tabID == 3) {$('#lecture-tab-discussion').show();if($('#azuremediaplayer').length) {$('#azuremediaplayer').get(0).pause();}}
                });
            }
            // Event listener - lecture
            function assetListener() {
                lectures.find('a').on('click', function () {
                    var documentAvailable = $(this).attr('data-target'),
                        uriAvailable = $(this).attr('href');
                    if(typeof documentAvailable !== 'undefined' && documentAvailable.length && uriAvailable !== 'undefined') {
                        $('#file-preview').attr('src', documentAvailable);
                        lectures.removeClass('current');$(this).parent().addClass('current');
                        tabs.removeClass('disabled');videoTab.addClass('disabled');
                        $('#azuremediaplayer').get(0).pause();documentTab.find('a').click();
                    }
                });
            }

            $('.lttheme_wrapper').each(function(id,item) {
                var idealanswer = $(item).find('.idealanswerbox');
                var submit = $(item).find('.submit');
                $(idealanswer).hide();
                $(submit).click(function(e) {
                    if(!$(this).hasClass('disabled')) {
                        $(idealanswer).show();
                    }
                    e.preventDefault();
                });

                var showOnDark = $(item).find('.showOnDark');
                var showOnLight = $(item).find('.showOnLight');
                var radio = $(item).find('.radio');
                $(showOnDark).click(false);
                $(radio).click(function(e) {
                    if(!$(this).hasClass('disabled')) {
                        $(showOnLight).show();
                        $(showOnDark).hide();
                    }
                });
            });
        });
    </script>
    <section class="course-show lecture-details">
        <div class="container">
            <div class="row">
                <section class="section-title section-setting">
                    <div class="title">
                        <i class="fa fa-book-open fa-2x fa-pull-left"></i>
                        <div class="heading-text">
                            <h1 title="{{ course.name }}">{{ course.name }}</h1>
                            {% if(course.shortDescription) %}
                                <p class="short-desc">{{ course.shortDescription }}</p>
                            {% endif %}

                            {% set assetCounter = 0 %}
                            {% set learnedCounter = 0 %}
                            {% for courseOption in courseOptions %}
                                {% for assetLink in courseOption.assets %}
                                    {% set assetCounter = assetCounter+1 %}
                                {% endfor %}
                            {% endfor %}
                            {% for learnedAsset in learnedAssets %}
                                {% set learnedCounter = learnedCounter+1 %}
                            {% endfor %}

                            <p class="sub-title process-text">{{ 'Complete'|trans }}: </p>
                            <div class="process meter">
                                {% set percent = (learnedCounter/assetCounter) * 100 %}
                                <span style="width: {{ percent }}%"></span>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- course item -->
                <div class="content">
                    <div class="preview col-xs-12 col-sm-12 col-md-8 lecture-player no-padding">
                        <ul class="nav nav-tabs lecture-container-header">
                            <li class="active">
                                <a data-toggle="1" href="javascript:void(0)">
                                    <i class="fa fa-list"></i>
                                    {% if asset.survey %}
                                    <span title="Test">Test</span>
                                    {% else %}
                                    <span title="Video">Video</span>
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a data-toggle="2" href="javascript:void(0)">
                                    <i class="fa fa-download"></i>
                                    <span title="Tài liệu">Tài liệu</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="3" href="javascript:void(0)">
                                    <i class="fa fa-comments"></i>
                                    <span title="Thảo luận">Thảo luận</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="lecture-video">
                                {% if asset.file %}
                                    <video id="azuremediaplayer" class="azuremediaplayer amp-default-skin amp-big-play-centered" controls autoplay poster="" data-setup='{}' tabindex="0">
                                        <source src="{{ asset.uri }}{{ asset.name }}.ism/manifest" type="application/vnd.ms-sstr+xml" />
                                    </video>
                                {% elseif asset.scorm %}
                                    <div class="scorm-full-btn"><a target="_blank" href="{{ app.request.getSchemeAndHttpHost() }}/wp-content/uploads/courses/assets/{{ asset.scorm }}/{{ asset.scormPath }}">FULL</a></div>
                                    <iframe style="width: 100%; height: 450px"  height="450" src="{{ app.request.getSchemeAndHttpHost() }}/wp-content/uploads/courses/assets/{{ asset.scorm }}/{{ asset.scormPath }}"></iframe>
                                {% elseif asset.survey %}
                                {# START OF SURVEY #}
                                    <table>
                                        <tr><th>{{ asset.survey.name }}</th></tr>
                                        {% set questionCounter = 0 %}
                                        {% for question in questions %}
                                            {% set questionCounter = questionCounter+1 %}
                                            <tr>
                                                <td class="lttheme_wrapper">
                                                    <div>{{ questionCounter }}. {{ question.question }}</div>
                                                    <div>
                                                        <ul>
                                                            {% for answer in question.answers %}
                                                                <li><input class="radio" type="radio" name="{{ question.id }}" value="male"/>{{ answer.answer }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    <div class="lttheme_gray">
                                                        <a class="tileActionButton submit" href="#" style="width: 35.5417px; height: 35.5417px;">
                                                            <img src="{{ absolute_url(asset('wp-content/themes/YDI/assets/images/dark.right.normal.png')) }}" alt="submit" class="showOnDark">
                                                            <img src="{{ absolute_url(asset('wp-content/themes/YDI/assets/images/light.right.normal.png')) }}" alt="submit" class="showOnLight"></a>
                                                        <span class="transparent idealanswerbox">{{ question.answerHint }}</span>
                                                    </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {# START OF SURVEY #}
                                {% endif %}
                            </div>
                            <div class="tab-pane fade in" id="lecture-file">
                                <iframe id="file-preview" src="" style="width: 100%; height: 450px" frameborder="0" scrolling="yes"></iframe>
                            </div>
                            <div class="tab-pane fade in" id="lecture-tab-discussion">
                                {% set assetCounter = 0 %}
                                {% set optionCounter = 0 %}
                                {% for courseOption in courseOptions %}
                                    {% set optionCounter = optionCounter+1 %}
                                    {% for assetLink in courseOption.assets %}
                                        {% if (asset.id == assetLink.id) %}
                                            <div class="fb-comments" xid="{{ path('course_asset', { 'id': course.id, 'asset_id': assetLink.id }) }}" data-width="100%" data-numposts="20"></div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                        </div>
                        </div>
                    </div>
                    <div class="col-xs-0 col-sm-12 col-md-4 lecture-container no-padding">
                        <ul class="nav nav-tabs lecture-container-header">
                            <li class="active" style="width: 100%;">
                                <a data-toggle="1" href="javascript:void(0)">
                                    <i class="fa fa-list"></i>
                                    <span title="Giáo trình">Giáo trình</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="lecture-tab-list">
                                <div class="list-lecture-container">
                                    {% set assetCounter = 0 %}
                                    {% set optionCounter = 0 %}
                                    {% for courseOption in courseOptions %}
                                        {% set optionCounter = optionCounter+1 %}
                                        <div class="row chap-title">{{ courseOption.title }}</div>
                                        {% for assetLink in courseOption.assets %}
                                            {% set assetCounter = assetCounter+1 %}
                                            {% set learned = "" %}
                                            {% for learnedAsset in learnedAssets %}
                                                {% if (learnedAsset.id == assetLink.id) %}
                                                    {% set learned = "learned" %}
                                                {% endif %}
                                            {% endfor %}
                                            <div class="row chap-item {{ learned }} {% if (asset.id == assetLink.id) %}current{% endif %}">
                                                <a class="fa" title="{{ assetLink.title }}"
                                                    {% if(assetLink.document) %}
                                                        data-target="{{ asset('wp-content/uploads/courses/assets/' ~ assetLink.document) }}"
                                                        {% if(assetLink.file) %}
                                                            href="{{ path('course_asset', { 'id': course.id, 'asset_id': assetLink.id }) }}"
                                                        {% endif %}
                                                    {% else %}
                                                        href="{{ path('course_asset', { 'id': course.id, 'asset_id': assetLink.id }) }}"
                                                    {% endif %} >
                                                    <div class="row item-container">
                                                        <div class="chap-item-status">
                                                            <div class="status-container">
                                                                <i class="fas fa-2x {% if(assetLink.document) %} fa-file {% if(assetLink.file) %} fa-play-circle {% endif %} {% else %} fa-play-circle {% endif %} fa-pull-left"></i>
                                                            </div>
                                                        </div>
                                                        <div title="{{ assetLink.title }}" class="chap-item-content">{{ assetLink.title }}</div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions-toolbar">
                        <a class="button button-primary" title="Quay lại" href="{{ path('course_index') }}">Quay lại</a>
                    </div>
                </div>
                <!-- end course item -->
            </div>
        </div>
    </section>
{% endblock %}