{% extends 'base.html.twig' %}

{% block body %}
    <h1>Danh sách khóa học</h1>

    <table>
        <thead>
        <tr>
            <th style="display: none;">Id</th>
            <th style="display: none;">Sku</th>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Short Description</th>
            <th>Total Participants</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td style="display: none;"><a href="{{ path('course_show', { 'id': course.id }) }}">{{ course.id }}</a></td>
                <td style="display: none;">{{ course.sku }}</td>
                <td class="name">{{ course.name }}</td>
                <td>
                    {% if course.image %}
                        <img  width="50" src="{{ asset('wp-content/uploads/courses/' ~ course.image) }}" alt="{{ course.name }}" />
                    {% endif %}
                </td>
                <td>{{ course.description }}</td>
                <td>{{ course.shortDescription }}</td>
                <td>{{ course.totalParticipant }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="action" href="{{ path('course_show', { 'id': course.id }) }}">Learn more</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(courses) }}
    </div>
{% endblock %}
