{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ course.name }}</h1>
    <h4>{{ course.shortDescription }}</h4>

    {% set assetCounter = 0 %}
    {% set optionCounter = 0 %}
    {% for courseOption in courseOptions %}
        {% set optionCounter = optionCounter+1  %}
        <tr>
            <td>
                <h2>Phần  {{  optionCounter }}. {{ courseOption.title }}</h2>
            </td>
            <td>
                <ul>
                    {% for asset in courseOption.assets %}
                        {% set assetCounter = assetCounter+1  %}
                        <li>
                            <a href="{{ path('course_asset', { 'id': course.id, 'asset_id': asset.id }) }}">
                                Bài  {{  assetCounter }}. {{ asset.title }} - 01:30
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </td>
        </tr>
    {% endfor %}

    <table>
        <tbody>
            <tr>
                <th>Image</th>
                <td>
                    {% if course.image %}
                        <img  style="max-width:600px;" src="{{ asset('wp-content/uploads/courses/' ~ course.image) }}" alt="{{ course.name }}" />
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td style="white-space: pre-wrap;">{{ course.description }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li class="actions-toolbar">
            <a class="button button-primary" href="{{ path('course_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
