{% extends 'base.html.twig' %}

{% block body %}
    <section class="course-show">
        <div class="container">
            <div class="row">
                <section class="section-title section-setting">
                    <div class="title">
                        <i class="fa fa-book-open fa-2x fa-pull-left"></i>
                        <h1>{{ course.name }}</h1>
                        {% if(course.shortDescription) %}
                            <p class="sub-title">{{ course.shortDescription }}</p>
                        {% endif %}
                    </div>
                </section>
                <!-- course item -->
                <div class="content">
                    <div class="author col-left">
                        <section class="section_author section-setting">
                            {% if course.image %}
                                <figure>
                                    <img src="{{ asset('wp-content/uploads/courses/' ~ course.image) }}"
                                         alt="{{ course.name }}"/>
                                </figure>
                            {% endif %}
                            <i class="fa fa-heart"></i><span class="count">{{ course.courseParticipants.count() }} Học viên tham gia</span>
                        </section>
                    </div>
                    <div class="details col-right">
                        <section class="section_benefit section-setting">
                            <p class="title">Lợi ích từ khóa học</p>
                            <div class="cover-require">
                                <i class="fas fa-hand-point-right"></i>
                                <span class="require">Kích hoạt các chức năng của não bộ trẻ ngay từ trong bụng mẹ thông qua các giác quan để trẻ nhanh hoàn thiện các năng lực và thông minh hơn.</span>
                            </div>
                            <div class="cover-require">
                                <i class="fas fa-hand-point-right"></i>
                                <span class="require">Định hình tính cách, phẩm chất tốt đẹp cho trẻ từ trong tiềm thức</span>
                            </div>
                        </section>
                        <section class="section_requirement section-setting">
                            <p class="title">Yêu cầu của khóa học</p>
                            <div class="cover-require">
                                <i class="fas fa-hand-point-right"></i>
                                <span class="require">Máy tính/ thiết bị kết nối internet</span>
                            </div>
                            <div class="cover-require">
                                <i class="fas fa-hand-point-right"></i>
                                <span class="require">Có không gian để thực hành</span>
                            </div>
                            <div class="cover-require">
                                <i class="fas fa-hand-point-right"></i>
                                <span class="require">Có sự hỗ trợ của người thân và gia đình</span>
                            </div>
                        </section>
                        <section class="section_description section-setting">
                            <p class="title">Tổng quát</p>
                            <p class="content_description">{{ course.description |raw }}</p>
                        </section>
                        <section class="section_lecture section-setting">
                            <p class="title">Giáo trình</p>
                            <ul class="content_lecture">
                                {% set assetCounter = 0 %}
                                {% set optionCounter = 0 %}
                                {% for courseOption in courseOptions %}
                                    {% set optionCounter = optionCounter+1 %}
                                    <li class="item">
                                        <h4>Phần {{ optionCounter }}. {{ courseOption.title }}</h4>
                                        <ul>
                                            {% for asset in courseOption.assets %}
                                                {% set assetCounter = assetCounter+1 %}
                                                <li class="child">
                                                    <i class="fas fa-2x fa-play-circle fa-pull-left"></i>
                                                    Bài {{ assetCounter }}. {{ asset.title }} - 01:30
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>

                                {% endfor %}
                            </ul>
                        </section>
                        <section content="section_actions section-setting actions-toolbar">
                            <a class="button button-primary" href="{{ path('course_learn', { 'id': course.id }) }}">Tham gia khóa học</a>
                            <a class="button button-primary" href="{{ path('course_index') }}">Quay lại</a>
                        </section>
                    </div>
                </div>
                <!-- end course item -->
            </div>
        </div>
    </section>
{% endblock %}
